@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #666666;
  --basic-white: #ffffff;
  --basic-extra-light: #eeeeee;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;

  --special-black: rgba(0, 0, 0, 0.1);
  --special-extra-dark: rgba(0, 1, 1, 0.1);
  --special-dark: 77, 77, 77;
  --special-neutral: #e1e1e1;
  --special-extra-light: rgba(255, 255, 255, 0.3);
  --special-light: #f2f2f2;
  --special-gray: #dbdbdb;
  --special-light-gray: #dfdfdf;
  --special-dark-gray: #d5d5d5;
  --special-light-green: #00ca74;
  --special-green: #00bc6c;
  --special-dark-green: #00aa62;
  --special-light-yellow: #efc849;
  --special-yellow: #eab534;
  --special-dark-yellow: #e5a722;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  min-height: 100%;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  color: var(--special-extra-light);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 0 var(--special-extra-dark);
}

.header {
  padding: 50px 0 0;
  background-color: var(--basic-extra-light);
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 845px;
  align-items: center;
}

.header__logo:active {
  opacity: 0.3;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.nav__list--user {
  justify-content: flex-end;
}

.nav__item {
  margin: 0 0 0 45px;
}

.nav__link {
  display: block;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav__link[href]:hover {
  color: var(--basic-light-red);
}

.nav__link[href]:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav__link--current {
  box-shadow: 0 2px 0 0 var(--basic-light-red);
}

.content {
  margin: 0 0 60px;
}

.content__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 55px 140px;
}

.content__jumbotron {
  min-height: 256px;
  margin: 0 0 55px;
  padding: 70px 0 30px;
  background-color: var(--basic-extra-light);
}

.content__jumbotron-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
}

.slider {
  margin: 0 0 80px;
  background-color: var(--basic-extra-light);
}

.slider__container {
  position: relative;
}

.slider__item {
  display: none;
}

.slider__item--design {
  background: url("../img/bg_slide_design.png") no-repeat right bottom;
  background-size: 760px auto;
}

.slider__item--calculation {
  background: url("../img/bg_slide_calculation.png") no-repeat right bottom;
  background-size: 760px auto;
}

.slider__item--schedule {
  background: url("../img/bg_slide_schedule.png") no-repeat right bottom;
  background-size: 760px auto;
}

.slider__item--current {
  display: block;
}

.slider__item-wrapper {
  width: 540px;
  min-height: 431px;
  padding: 75px 0 30px;
}

.slider__title {
  margin: 0 0 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider__text {
  max-width: 420px;
  margin: 0 0 35px;
}

.slider__link {
  min-width: 240px;
}

.slider__control-list {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.slider__control-item:not(:last-child) {
  margin: 0 15px 0 0;
}

.slider__control-button {
  border: 0;
  background-color: var(--basic-white);
}

.services {
  margin: 0 0 40px;
  padding: 0 0 80px;
  border-bottom: 2px solid var(--basic-extra-light);
}

.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px 100px;
}

.services__item::before {
  content: "";
  display: block;
  height: 146px;
  margin: 0 0 25px;
}

.services__item--web::before {
  background: var(--basic-light-red) url("../img/bg_services_websites.png") no-repeat;
  background-size: 100% auto;
}

.services__item--app::before {
  background: var(--special-light-green) url("../img/bg_services_app.png") no-repeat;
  background-size: 100% auto;
}

.services__item--slide::before {
  background: var(--special-light-yellow) url("../img/bg_services_presentations.png") no-repeat;
  background-size: 100% auto;
}

.services__title {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services__text {
  margin: 0 0 30px;
}

.services__link {
  min-width: 160px;
}

.services__link--app {
  background-color: var(--special-light-green);
}

.services__link--app:hover,
.services__link--app:focus {
  background-color: var(--special-green);
}

.services__link--app:active {
  background-color: var(--special-dark-green);
}

.services__link--slide {
  background-color: var(--special-light-yellow);
}

.services__link--slide:hover,
.services__link--slide:focus {
  background-color: var(--special-yellow);
}

.services__link--slide:active {
  background-color: var(--special-dark-yellow);
}

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-gap: 0 150px;
  margin: 0 0 75px;
}

.about__description {
  padding: 35px 0 0;
}

.about__statistics {
  padding: 240px 0 0;
  background: url("../img/bg_about_nerds.jpg") no-repeat;
  background-size: 100% auto;
}

.about__slogan {
  margin: 0 0 30px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about__text {
  margin: 0 0 40px;
}

.about__subtitle {
  margin: 0 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__subtitle--statistics {
  margin: 0 0 40px;
  color: var(--basic-black);
  text-align: center;
}

.about__list {
  margin: 0;
}

.about__table td:last-child {
  padding-right: 0;
}

.about__thead td {
  padding: 0 20px 20px 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.about__percent {
  font-size: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.about__tbody td {
  padding: 0 20px 0 0;
  line-height: 18px;
}

.companies {
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 182px;
}

.companies__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.companies__item:not(:first-child)::before {
  content: "";
  width: 2px;
  height: 52px;
  margin: 0 40px;
  background-color: var(--basic-extra-light);
}

.companies__link {
  opacity: 0.2;
}

.companies__link:hover {
  opacity: 1;
}

.companies__link:active {
  opacity: 0.1;
}

.companies__link img {
  display: block;
}

.filters {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--basic-extra-light);
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0 60px;
}

.sorting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sorting__item {
  margin: 0 0 0 20px;
}

.sorting__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting__button {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.sorting__button:hover {
  opacity: 0.6;
}

.sorting__button:active,
.sorting__button--current,
.sorting__button--current:hover {
  opacity: 1;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 40px;
  margin: 0 0 55px;
}

.card {
  position: relative;
  height: 580px;
  margin: 0;
  background-color: var(--special-light);
  border: 1px solid var(--special-black);
  border-radius: 5px;
  overflow: hidden;
}

.card:hover {
  border: none;
  box-shadow: 0 6px 15px 0 var(--special-extra-dark);
}

.card:hover .card__description,
.card:focus-within .card__description {
  opacity: 1;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px 50px 50px;
  text-align: center;
  background-color: var(--basic-extra-light);
  opacity: 0;
}

.card__name {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.card__name:hover {
  color: var(--basic-light-red);
}

.card__name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card__text {
  line-height: 18px;
  color: var(--basic-neutral);
}

.card__price {
  min-width: 200px;
}

.card__price:active {
  color: var(--basic-white);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.pagination__link {
  display: block;
  min-width: 50px;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.pagination__link[href]:hover {
  background-color: var(--special-light-gray);
}

.pagination__link[href]:active {
  background-color: var(--special-dark-gray);
}

.pagination__link--next {
  min-width: 260px;
  text-transform: uppercase;
}

.pagination__link--current {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--special-gray);
}

.contacts {
  position: relative;
}

.contacts__map {
  background-color: var(--basic-extra-light);
}

.contacts__map-link {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.contacts__map-link--hide {
  display: none;
}

.contacts__map-link img {
  display: inherit;
}

.contacts__map-frame {
  display: block;
  width: 100%;
  height: 416px;
  border: none;
}

.contacts__container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 1160px;
  transform: translate(-50%, -50%);
}

.contacts__information {
  width: 320px;
  padding: 50px;
  background-color: var(--basic-white);
}

.contacts__title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts__address {
  margin: 0 0 35px;
  font-style: normal;
}

.contacts__text {
  line-height: 18px;
  color: var(--basic-neutral);
}

.contacts__text:not(:last-child) {
  margin: 0 0 20px;
}

.contacts__text a[href^="tel:"] {
  color: inherit;
}

.contacts__link {
  width: 100%;
}

.social {
  padding: 70px 0;
}

.social__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 140px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.social__link {
  background-color: var(--special-neutral);
}

.social__link:hover {
  background-color: var(--basic-red);
}

.social__link:active {
  background-color: var(--basic-dark-red);
}

.social__slogan {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.social__text {
  color: var(--basic-dark);
}

.modal {
  display: none;
}

.modal__button {
  background-color: transparent;
  border: none;
}

.modal__title {
  font-size: 45px;
  line-height: 51px;
  font-weight: 700;
  color: var(--basic-black);
}
