@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #666666;
  --basic-white: #ffffff;
  --basic-extra-light: #eeeeee;
  --basic-gray: #dbdbdb;
  --basic-light-gray: #dfdfdf;
  --basic-dark-gray: #d5d5d5;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;

  --special-black: 0, 0, 0;
  --special-extra-black: 0, 1, 1;
  --special-dark: 77, 77, 77;
  --special-extra-dark: #231f20;
  --special-neutral: #e1e1e1;
  --special-white: 255, 255, 255;
  --special-extra-light: #d7dcdf;
  --special-light: #f2f2f2;
  --special-light-gray: #ababab;
  --special-extra-light-gray: #c1c1c1;
  --special-dark-gray: #b4b9bb;
  --special-light-green: #00ca74;
  --special-green: #00bc6c;
  --special-dark-green: #00aa62;
  --special-light-yellow: #efc849;
  --special-yellow: #eab534;
  --special-dark-yellow: #e5a722;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  min-height: 100%;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red);
  cursor: pointer;
}

.button:active {
  color: rgba(var(--special-white), 0.3);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 0 rgba(var(--special-extra-black), 0.1);
}

.button:focus {
  outline-color: var(--basic-extra-dark);
}

.header {
  padding: 49px 0 0;
  background-color: var(--basic-extra-light);
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 845px;
  align-items: start;
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
}

.header__logo[href]:active {
  opacity: 0.3;
}

.header__logo img {
  display: block;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 15px 0 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__list--user {
  justify-content: flex-end;
}

.nav__item {
  margin: 10px 0 10px 46px;
}

.nav__link {
  display: block;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav__link--cart {
  padding: 0 0 0 40px;
  background: url("../img/icon_cart.svg") no-repeat left center;
  background-size: 15px auto;
}

.nav__link[href]:hover {
  color: var(--basic-light-red);
}

.nav__link[href]:active {
  color: rgba(var(--special-black), 0.3);
}

.nav__link--current {
  position: relative;
}

.nav__link--current::before {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -16px;
  left: 1px;
  z-index: 10;
  height: 2px;
  background-color: var(--basic-light-red);
}

.content {
  margin: 0 0 60px;
}

.content__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 51px 140px;
}

.content__jumbotron {
  min-height: 240px;
  margin: 0 0 55px;
  padding: 76px 0 30px;
  background-color: var(--basic-extra-light);
}

.content__jumbotron-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
}

.slider {
  margin: 0 0 79px;
  background-color: var(--basic-extra-light);
}

.slider__container {
  position: relative;
}

.slider__item {
  display: none;
}

.slider__item--design {
  background: url("../img/bg_slide_design.png") no-repeat 397px bottom;
  background-size: 760px auto;
}

.slider__item--calculation {
  background: url("../img/bg_slide_calculation.png") no-repeat 397px bottom;
  background-size: 760px auto;
}

.slider__item--schedule {
  background: url("../img/bg_slide_schedule.png") no-repeat 397px bottom;
  background-size: 760px auto;
}

.slider__item--current {
  display: block;
}

.slider__item-wrapper {
  width: 525px;
  min-height: 431px;
  padding: 76px 0 30px;
}

.slider__title {
  margin: 0 0 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider__text {
  max-width: 420px;
  margin: 0 0 39px;
}

.slider__link {
  min-width: 240px;
}

.slider__control-list {
  position: absolute;
  bottom: 97px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.slider__control-item:not(:last-child) {
  margin: 0 17px 0 0;
}

.slider__control-button {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: var(--basic-white);
  border: 5px solid  var(--basic-white);
  border-radius: 100%;
}

.slider__control-button--current {
  box-shadow: inset 0 0 0 2px var(--special-extra-light-gray);
}

.slider__control-button:not(.slider__control-button--current):hover {
  background-color: var(--basic-gray);
  cursor: pointer;
}

.slider__control-button:not(.slider__control-button--current):active {
  opacity: 0.8;
}

.services {
  margin: 0 0 39px;
  padding: 0 0 81px;
  border-bottom: 2px solid var(--basic-extra-light);
}

.services__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px 100px;
}

.services__item::before {
  content: "";
  display: block;
  height: 146px;
  margin: 0 0 25px;
}

.services__item--web::before {
  background: var(--basic-light-red) url("../img/bg_services_websites.png") no-repeat;
  background-size: 100% auto;
}

.services__item--app::before {
  background: var(--special-light-green) url("../img/bg_services_app.png") no-repeat;
  background-size: 100% auto;
}

.services__item--slide::before {
  background: var(--special-light-yellow) url("../img/bg_services_presentations.png") no-repeat;
  background-size: 100% auto;
}

.services__title {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services__text {
  margin: 0 0 32px;
  max-width: 280px;
}

.services__link {
  min-width: 160px;
}

.services__link--app {
  background-color: var(--special-light-green);
}

.services__link--app:hover {
  background-color: var(--special-green);
}

.services__link--app:active {
  background-color: var(--special-dark-green);
}

.services__link--slide {
  background-color: var(--special-light-yellow);
}

.services__link--slide:hover {
  background-color: var(--special-yellow);
}

.services__link--slide:active {
  background-color: var(--special-dark-yellow);
}

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-gap: 0 150px;
  margin: 0 0 74px;
}

.about__description {
  padding: 33px 0 0;
}

.about__statistics {
  padding: 245px 0 0;
  background: url("../img/bg_about_nerds.jpg") no-repeat;
  background-size: 100% auto;
}

.about__slogan {
  margin: 0 0 33px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about__text {
  margin: 0 0 41px;
}

.about__subtitle {
  margin: 0 0 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__subtitle--statistics {
  margin: 0 0 40px;
  color: var(--basic-black);
  text-align: center;
}

.about__list {
  margin: 0;
}

.about__item:not(:last-child) {
  margin: 0 0 24px;
}

.about__item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  margin: -1px 12px 0 0;
  background-color: var(--basic-red);
}

.about__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about__table td:last-child {
  padding-right: 0;
}

.about__thead td {
  padding: 0 15px 20px 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.about__percent {
  top: -16px;
  font-size: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.about__tbody td {
  padding: 0 15px 0 0;
  line-height: 18px;
}

.companies {
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
  margin: 0 0 20px;
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
}

.companies__item {
  display: flex;
  align-items: center;
}

.companies__item:not(:first-child)::before {
  content: "";
  width: 2px;
  height: 52px;
  margin: 0 19px;
  background-color: var(--basic-extra-light);
}

.companies__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 180px;
  opacity: 0.2;
}

.companies__link:hover {
  opacity: 1;
}

.companies__link:active {
  opacity: 0.1;
}

.companies__indent {
  position: relative;
  top: 7px;
  left: 2px;
}

.filters {
  grid-row-start: 1;
  grid-row-end: 3;
}

.filters__form {
  width: 100%;
}

.filters__group {
  padding: 0;
  border: none;
}

.filters__group--range {
  margin: 0 0 54px;
}

.filters__group--radio {
  margin: 0 0 44px;
}

.filters__group--checkbox {
  margin: 0 0 48px;
}

.filters__title {
  display: block;
  margin: 0 0 14px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filters__title--range {
  margin: 0 0 48px;
}

.range-filter__sliders {
  margin: 0 0 14px;
  padding: 39px 20px;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.range-filter__scale {
  position: relative;
  height: 2px;
  background-color: var(--special-extra-light);
}

.range-filter__bar {
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: var(--special-light-green);
}

.range-filter__toggle-group {
  position: relative;
}

.range-filter__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: -11px 0 0 -2px;
  border: 8px solid var(--basic-white);
  background-color: var(--special-light-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(var(--special-black), 0.15);
}

.range-filter__toggle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.range-filter__toggle:active {
  border-color: rgba(var(--special-white), 0.9);
}

.range-filter__toggle--min {
  left: 0;
}

.range-filter__toggle--max {
  left: 142px;
}

.range-filter__controls {
  display: flex;
  justify-content: space-between;
}

.range-filter__price {
  line-height: 22px;
  text-transform: uppercase;
}

.range-filter__field {
  width: 80px;
  height: 38px;
  margin: 0 0 0 9px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  text-align: center;
  padding: 0 10px;
  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 3px;
  box-shadow: none;
}

.range-filter__field:hover,
.range-filter__field:focus {
  box-shadow: inset 0 0 2px 1px rgba(var(--special-extra-black), 0.1);
}

.filters__item-radio:not(:last-child) {
  margin: 0 0 14px;
}

.filters__item-checkbox:not(:last-child) {
  margin: 0 0 16px;
}

.filters__field + label {
  display: flex;
  align-items: center;
}

.filters__field:focus + label {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters__field + label:hover {
  cursor: pointer;
}

.filters__field + label:active {
  opacity: 0.3;
}

.filters__field + label::before {
  content: "";
  display: inherit;
  flex-shrink: 0;
  margin: 0 11px 0 0;
  opacity: 0.4;
}

.filters__field + label:hover::before {
  opacity: 1;
}

.filters__field--radio + label::before {
  width: 25px;
  height: 25px;
  border: 4px solid rgb(var(--special-dark));
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px var(--basic-white);
}

.filters__field--radio:checked + label::before {
  background-color: rgb(var(--special-dark));
}

.filters__field--checkbox + label::before {
  width: 25px;
  height: 23px;
  background: url("../img/icon_checkbox_off.svg") no-repeat;
  background-size: 23px auto;
}

.filters__field--checkbox:checked + label::before {
  background: url("../img/icon_checkbox_on.svg") no-repeat;
  background-size: 100% auto;
}

.filters__button {
  width: 100%;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.filters__button:hover {
  background-color: var(--basic-light-gray);
}

.filters__button:active {
  color: rgba(var(--special-black), 0.3);
  background-color: var(--basic-dark-gray);
  box-shadow: inset 0 3px 0 0 rgba(var(--special-extra-black), 0.1);
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0 60px;
  align-items: start;
}

.sorting__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 7px 0 0;
}

.sorting__list {
  display: flex;
  flex-wrap: wrap;
}

.sorting__list--icon {
  flex-shrink: 0;
  margin: 2px 0 0 30px;
}

.sorting__list--icon .sorting__item {
  margin: 0 0 0 18px;
}

.sorting__item {
  margin: 0 0 0 26px;
}

.sorting__title {
  margin: 3px 0 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting__button {
  display: block;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.sorting__button:not(.sorting__button--current):hover {
  opacity: 0.6;
  cursor: pointer;
}

.sorting__button:not(.sorting__button--current):active,
.sorting__button--current {
  opacity: 1;
}

.sorting__button-icon {
  position: relative;
  display: block;
  width: 11px;
  height: 10px;
  padding: 0;
  color: var(--special-extra-light-gray);
  background-color: transparent;
  border: none;
}

.sorting__button-icon:not(.sorting__button-icon--current):hover {
  cursor: pointer;
}

.sorting__button-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid transparent;
  opacity: inherit;
}

.sorting__button-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid transparent;
  opacity: 0.2;
}

.sorting__button-icon--down::before {
  border-top: 10px solid;
}

.sorting__button-icon--upp::before {
  top: -5px;
  border-bottom: 10px solid;
}

.sorting__button-icon:hover::before,
.sorting__button-icon--current::before {
  opacity: 1;
}

.sorting__button-icon:active::before,
.sorting__button-icon--current {
  color: var(--special-extra-dark);
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 40px;
  margin: 0 0 54px;
}

.card {
  position: relative;
  padding: 40px 0 0;
  background-color: rgba(var(--special-dark), 0.12);
  border-radius: 5px 5px 0 0;
}

.card:hover {
  background-color: rgb(var(--special-dark));
  box-shadow: 0 6px 15px 0 rgba(var(--special-extra-black), 0.1);
}

.card::before {
  content: "";
  position: absolute;
  top: 13px;
  z-index: 10;
  left: 16px;
  height: 14px;
  width: 14px;
  background-color: var(--basic-white);
  border-radius: 100%;
  box-shadow:
    23px 0 0 0 var(--basic-white),
    46px 0 0 0 var(--basic-white);
}

.card__wrapper {
  height: 580px;
  margin: 0;
  background-color: var(--special-light);
  border: 1px solid rgba(var(--special-black), 0.1);
  border-top: none;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.card:hover .card__wrapper {
  border: none;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 29px 50px 43px;
  text-align: center;
  background-color: var(--basic-extra-light);
  opacity: 0;
}

.card:hover .card__description,
.card:focus-within .card__description {
  opacity: 1;
}

.card__link {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0 15px;
}

.card__name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.card__name:hover {
  color: var(--basic-light-red);
}

.card__name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card__text {
  margin: 0 0 34px;
  line-height: 18px;
  color: var(--basic-neutral);
}

.card__price {
  min-width: 200px;
}

.card__price:active {
  color: var(--basic-white);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item:not(:last-child) {
  margin: 0 11px 0 0;
}

.pagination__link {
  display: block;
  min-width: 50px;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.pagination__link[href]:hover {
  background-color: var(--basic-light-gray);
}

.pagination__link[href]:active {
  color: rgba(var(--special-black), 0.3);
  background-color: var(--basic-dark-gray);
  box-shadow: inset 0 3px 0 0 rgba(var(--special-extra-black), 0.1);
}

.pagination__link--next {
  min-width: 260px;
  text-transform: uppercase;
}

.pagination__link--current {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--basic-gray);
}

.contacts {
  position: relative;
}

.contacts__map {
  background-color: var(--basic-extra-light);
}

.contacts__map-link {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.contacts__map-link--hide {
  display: none;
}

.contacts__map-link img {
  display: inherit;
}

.contacts__map-frame {
  display: block;
  width: 100%;
  height: 416px;
  border: none;
}

.contacts__container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 1160px;
  transform: translate(-50%, -50%);
}

.contacts__information {
  width: 320px;
  padding: 50px;
  background-color: var(--basic-white);
}

.contacts__title {
  margin: 0 0 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts__address {
  margin: 0 0 38px;
  font-style: normal;
}

.contacts__text {
  line-height: 18px;
  color: var(--basic-neutral);
}

.contacts__text:not(:last-child) {
  margin: 0 0 18px;
}

.contacts__text a[href^="tel:"] {
  color: inherit;
}

.contacts__text a[href^="tel:"]:hover {
  opacity: 0.8;
}

.contacts__link {
  width: 100%;
}

.social {
  padding: 68px 0;
}

.social__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 140px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.social__link {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background-color: var(--special-neutral);
  border-radius: 100%;
}

.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.social__link--vk::before {
  background: url("../img/icon_vk.svg") no-repeat center;
  background-size: 26px auto;
}

.social__link--fb::before {
  background: url("../img/icon_fb.svg") no-repeat center;
  background-size: 12px auto;
}

.social__link--inst::before {
  background: url("../img/icon_inst.svg") no-repeat center;
  background-size: 21px auto;
}

.social__link:hover {
  background-color: var(--basic-red);
}

.social__link:active {
  background-color: var(--basic-dark-red);
}

.social__link:active::before {
  opacity: 0.3;
}

.social__discount {
  margin: 6px 0 0;
}

.social__slogan {
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.social__text {
  margin: 0;
  color: var(--basic-dark);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal--hide {
  display: none;
}

.modal--show {
  display: block;
}

.modal__wrapper {
  position: relative;
  top: 50%;
  width: 960px;
  min-height: 590px;
  margin: 0 auto;
  padding: 64px 100px;
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px 0 rgba(var(--special-black), 0.4);
  transform: translateY(-50%);
}

.modal__title {
  margin: 0 0 37px;
  font-size: 45px;
  line-height: 51px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-form__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px 40px;
  margin: 0 0 47px;
}

.modal-form__item:last-child {
  grid-column-start: 1;
  grid-column-end: -1;
}

.modal-form__label {
  display: block;
  margin: 0 0 9px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 700;
}

.modal-form__field {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
  padding: 0 14px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-gray);
  border-radius: 3px;
  box-shadow: none;
}

.modal-form__field:not(textarea) {
  width: 360px;
  height: 50px;
}

.modal-form__field:not(input) {
  width: 100%;
  padding: 15px 14px 11px;
  resize: vertical;
}

.modal-form__field::placeholder {
  opacity: 0.5;
}

.modal-form__field:hover {
  border-color: var(--special-dark-gray);
}

.modal-form__field:focus {
  border-color: var(--basic-black);
}

.modal-form__button {
  min-width: 260px;
}

.modal__button {
  position: absolute;
  top: 80px;
  right: 90px;
  z-index: 10;
  width: 21px;
  height: 21px;
  padding: 0;
  background: url("../img/icon_close.svg") no-repeat center center;
  background-size: 100% auto;
  border: none;
  opacity: 0.3;
}

.modal__button:hover {
  opacity: 1;
}

.modal__button:active {
  opacity: 0.1;
}
